// Button

@include b(button) {
    display: inline-flex;
    justify-content: center;
    padding: 14px 30px;
    background-color: var(--color-text);
    border: 2px solid transparent;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-back);
    cursor: pointer;

    &:hover {
        background-color: var(--color-text-primary);
    }

    &:focus-visible {
        outline: 3px solid var(--color-back-primary);
        outline-offset: 1px;
    }

    @include m(accent) {
        background-color: var(--color-back);
        color: var(--color-text);

        &:hover {
            background-color: var(--color-back-secondary);
        }
    }

    @include m(outline) {
        background-color: transparent;
        border-color: var(--color-text);
        color: var(--color-text);

        &:hover {
            background-color: var(--color-text);
            color: var(--color-back);
        }
    }
}