// Contact Form

@include b(contact-form) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    max-width: 480px;
    margin-inline: auto;

    @media (max-width: 659px) {
        row-gap: 10px;

        @include e(button) {
            width: 100%;
        }
    }
}