// Feature

@include b(feature) {
    display: grid;
    row-gap: 12px;

    @include e(title) {
        margin: 0;
        font-size: 22px;
    }

    @include e(desc) {
        margin: 0;
        font-size: 16px;
        color: var(--color-text-secondary);
    }

    @media (max-width: 659px) {
        justify-items: center;
        text-align: center;
    }

    @media (min-width: 660px) {
        grid-template-columns: min-content 1fr;
        row-gap: 8px;
        column-gap: 12px;

        @include e(icon) {
            grid-row: span 2;
        }
    }

    @media (min-width: 980px) {
        row-gap: 12px;
        column-gap: 20px;
    }
}