// Layout

@include b(layout) {
    height: 100%;
    background-color: var(--color-back);
    color: var(--color-text);

    @include e(body) {
        height: 100%;
        margin: 0;
        font-family: "Source Sans 3", sans-serif;
        line-height: 1.2;
    }

    @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
    }
}