// Section Header

@include b(section-header) {
    max-width: 740px;
    margin-inline: auto;
    margin-block-end: 40px;
    text-align: center;

    @include e(title) {
        margin: 0;
        font-size: 32px;
        font-weight: bold;
        text-transform: capitalize;

        &:not(:last-child) {
            margin-block-end: 12px;
        }
    }

    @include e(desc) {
        margin: 0;
        font-size: 20px;
        color: var(--color-text-secondary);

        &:not(:last-child) {
            margin-block-end: 40px;
        }
    }

    @media (min-width: 660px) {
        margin-block-end: 60px;
    }

    @media (min-width: 980px) {
        margin-block-end: 80px;
    }
}