<header class="header">
    <div class="header__container container">
        <button class="header__menu-button button" type="button" title="Open menu">
            <span class="icon">
                <svg width="26" height="26" aria-hidden="true">
                    <use href="{{root}}assets/icons/sprite.svg#icon-menu"></use>
                </svg>
            </span>
        </button>
        <a class="header__logo logo">
            <img class="logo__image" src="{{root}}assets/images/logo.svg" width="42" height="42" alt="Logo">
            <p class="logo__title">tinyone</p>
        </a>
        <ul class="header__icons header-icons">
            {{#each icons}}
            <li class="header-icons__item">
                <a class="header-icons__link" href="#" title="{{title}}">
                    <span class="header-icons__icon icon">
                        <svg width="26" height="26" aria-hidden="true">
                            <use href="{{root}}assets/icons/sprite.svg#icon-{{icon}}"></use>
                        </svg>
                    </span>
                </a>
            </li>
            {{/each}}
        </ul>
    </div>
</header>