<section class="hero">
    <div class="hero__container container">
        <h1 class="hero__title">
            Unleash your creativity
        </h1>
        <p class="hero__desc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum. Donec rutrum sed sem quis venenatis.
        </p>
        <button class="hero__button button button--outline" type="button">
            Get start
        </button>
        <span class="hero__icon icon">
            <svg width="24" height="24" aria-hidden="true">
                <use href="{{root}}assets/icons/sprite.svg#icon-arrow-down"></use>
            </svg>
        </span>
    </div>
</section>