// Source Sans 3 Regular

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('../fonts/source-sans-3-regular.woff2') format('woff2');
}

// Source Sans 3 Bold

@font-face {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url('../fonts/source-sans-3-bold.woff2') format('woff2');
}