// Variables

:root {
    --color-text: #010101;
    --color-text-secondary: #898989;
    --color-text-primary: #222222;

    --color-back: #ffffff;
    --color-back-secondary: #ebebeb;
    --color-back-primary: #fcdb00;
}